@using EmployeCRUDApp.ViewModel
@model EmployeeAddVM

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<style>
    .validation-summary-errors {
        color: red
    }
    h2 {
        text-align: center;
        color: forestgreen;
    }

    p {
        font-weight: bold;
        height:20px;
    }

    input {
        margin-left: 40%;
    }
</style>
<h2>@Model.Title</h2>
<hr />
<div class="container">
    @using (Html.BeginForm(actionName: "Add", controllerName: "Employee", method: FormMethod.Post))
    {
        <div class="container" style="display:flex;margin-left:30%">
            <div>
                <p>Id is: </p>
                <p>Name is : </p>
                <p>Salary is : </p>
            </div>

            <div style="margin-left:15px;">
                <p>
                    @Html.TextBoxFor(m => m.EmployeeID)
                </p>
                <p>
                    @Html.TextBoxFor(m => m.EmployeeName)
                </p>
                <p>
                    @Html.TextBoxFor(m => m.EmployeeSalary)
                </p>
            </div>
        </div><br />
        <input type="submit" value="Add" class="btn btn-success" />
        <p>
            @Html.ValidationSummary()
        </p>
    }
</div>