@using BankMVCApp.ViewModel
@model PassbookVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    h2{
        color:forestgreen;
    }
    h4{
        text-align:center;
        color:black;
    }
    dt{
        font-weight:bold;
    }
    span{
        font-weight:normal;
    }
</style>
<h2>Welcome, @Model.Account.Name!</h2>

<h4><b>Account Details</b></h4>
<hr />

<div>
    <dl class="dl-horizontal">
        <dt>ID : <span>@Model.Account.Id</span></dt>
        <dt>Name : <span>@Model.Account.Name</span></dt>
        <dt>Balance : <span>@Model.Account.Balance</span></dt>
    </dl>
</div>

<h4><b>Transaction History</b></h4>
<hr />

@if (Model.Transactions.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>Transaction ID</th>
                <th>Name</th>
                <th>Amount</th>
                <th>Available Balance</th>
                <th>Type</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var transaction in Model.Transactions)
            {
                <tr>
                    <td>@transaction.Id</td>
                    <td>@transaction.Name</td>
                    <td>@transaction.Amount</td>
                    <td>@transaction.AvailableBalance</td>
                    <td>@transaction.Type</td>
                    <td>@transaction.Date</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No Transactions Found!!</p>
}

