@using ContactMVCAppV2.ViewModel
@model AddVM
<style>
    .validation-summary-errors {
        color: red
    }

    h1 {
        text-align: center;
        color: forestgreen;
    }

    p {
        font-weight: bold;
        height: 20px;
    }

    input {
        margin-left: 40%;
    }
</style>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.8.0.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<h1>Add Details of Contact</h1>
<hr />
@using (Html.BeginForm(actionName: "AddContact", controllerName: "Contacts", method: FormMethod.Post))
{

    <div class="container" style="display:flex;margin-left:30%">
        <div>
            <p>Name is : </p>
            <p>Mobile Number is : </p>
            <p>Address is : </p>
        </div>

        <div style="margin-left:15px;">
            <p>
                @Html.TextBoxFor(m => m.Name)
            </p>
            <p>
                @Html.TextBoxFor(m => m.MobileNumber)
            </p>
            <p>
                @Html.TextBoxFor(m => m.Address)
            </p>
        </div>
    </div>
    <br />
    <div style="margin-left:40%">
        <input type="submit" value="Add" class="btn btn-success"/>
        @Html.ActionLink("Display","GetContacts", null,new { @class = "btn btn-success btn-xs" })
    </div>
    <p>
        @Html.ValidationSummary()
    </p>
}